@import "custom";

.app-header {
  img.fablab-logo {
    margin-top: -6px;
    margin-bottom: -6px;
    height: 52px;
    width: 52px;
    margin-right: 12px;
  }
}

.app-content {
  margin-top: 56px;
}

.app-footer {
  border-top: solid 1px $gray-lighter;
  margin-top: 42px;
  padding-top: 12px;
  padding-bottom: 24px;

  ul {
    overflow: hidden;
  }

  li {
    float: left;
    margin-right: 18px;
  }
}