@import "custom";
html{
  height: 100%;
}
body {
  min-height: 100%;
}

.app-header {
  img.fablab-logo {
    margin-top: -7px;
    margin-bottom: -7px;
    height: 50px;
    width: 50px;
    margin-right: 12px;
  }
}

.app-content {
  //margin-top: 56px;
}

.app-footer {
  border-top: solid 1px $gray-lighter;
  margin-top: 42px;
  padding-top: 12px;
  padding-bottom: 24px;

  ul {
    overflow: hidden;
  }

  li {
    float: left;
    margin-right: 18px;
  }
}
.map-container {
  position: absolute;
  top: 66px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}