.app-footer {

  border-top: solid 1px #073642;
  margin-top: 42px;
  padding-top: 12px;
  padding-bottom: 24px;

  ul {
    overflow: hidden;
  }
  li {
    float: left;
    margin-right: 18px;
  }
}